<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<%= form_with url: '/posts', method: :get do |search| %>
  <%= search.label 'Buscar: ' %>
  <%= search.text_field :search, onKeyUp: "Rails.fire(this.form, 'submit')" %>
<% end %>

<br>

<%= render 'form', post: @post %>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody id="posts-list">
    <%= render @posts %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
